#lby-ctn {
    display: grid;
    grid-template-columns: 25% 75%;
}

.lobby-listing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4px 0;
    cursor: pointer;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 16px;
}

.link {
    text-decoration: none;
}

.lby-list-headers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: black;
    color: white;
}

.left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    gap: 32px;
    padding: 16px 0;
    height: fit-content;
}

.left-menu-button {
    background-color: black;
    color: white;
    width: 80%;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
}

.filter-menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left-menu-filter-option {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.left-menu-filter-option > button {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    cursor: pointer;
    width: 50%;
    height: 100%;
}

.left-menu-filter-option > p:hover {
    background-color: darkgreen;
}

.filter-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: keep-all;
    height: 100%;
    width: 45%;
    border-bottom: 4px dashed darkmagenta;
    gap: 8px;
    padding: 0 8px;
    color: white;
    background-color: darkgoldenrod;
    box-sizing: border-box;
    font-weight: bold;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 420px;
    align-items: center;
}

.one-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
    align-items: center;
}

.one-col > span {
    background-color: aquamarine;
    text-align: center;
    height: 50%;
    padding-top: 10px;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
    cursor: pointer;
}

.one-col > span:hover {
    border: 3px dotted yellow;
}

.two-col > span {
    background-color: aquamarine;
    width: 80%;
    text-align: center;
    height: 50%;
    padding-top: 10px;
    font-weight: bold;
    font-size: larger;
    font-style: italic;
    cursor: pointer;
}

.two-col > span:hover {
    border: 3px dotted yellow;
}

.page-btns {
    display: flex;
    justify-content: space-between;
}

.lobby-page-ctn {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.lby-right-menu {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.filter-btn {
    height: 40px;
    font-size: 20px;
}

.fa-solid.fa-arrow-left,
.fa-solid.fa-arrow-right,
.fa-regular.fa-circle {
    cursor: pointer;
    font-size: 20px;
}

.fa-solid.fa-arrow-left:hover,
.fa-solid.fa-arrow-right:hover,
.fa-regular.fa-circle:hover {
    color: white;
}

.lobby-category-select {
    background-color: darkolivegreen;
    color: white;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 16px;
    padding: 4px;
}

/* LOBBY PAGE */
.lobby-page-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 16px;
}

.lobby-page-content > h2 {
    font-size: 36px;
}

.lobby-page-content > h3 {
    font-size: 28px;
}

.lobby-page-content > p {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

.lby-pg-sess {
    display: flex;
    align-items: center;
    gap: 16px;
}

.lby-pg-sess > p {
    font-size: x-large;
    color: white;
    padding: 4px;
    border-bottom: 4px solid white;
}

.owner-lby-btns {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.mng-lby-btn {
    width: 75px;
    padding: 8px 4px;
    color: white;
    background-color: #6B4717;
}

.lby-target-monster {
    width: 64px;
}

.fa-solid.fa-circle-minus {
    cursor: pointer;
}
