/* TODO Add site wide styles */
html {
    background-image: url('../public/vintage-paper.png');
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.no-scroll-false, .no-scroll-true {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    width:fit-content
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trade Winds';
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

/* .no-scroll-false {
    padding-bottom: 10px;
} */

.no-scroll-true {
    overflow-y:hidden;
    height: 98vh;
    padding: 0;
}

.fa-solid.fa-trash:hover {
    color: white;
}

.hide {
    display: none;
}
