/* TODO Add site wide styles */
html {
    background-image: url('../public/vintage-paper.png');
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    width:fit-content
}

button {
    cursor: pointer;
}

.no-scroll-false {
    padding-bottom: 10px;
}

.no-scroll-true {
    overflow-y:hidden;
    height: 98vh;
    padding: 0;
}
