.signup-page-ctn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
}

.signup-page-ctn > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center-end;
    gap: 16px;
    width: 90%;
}

.signup-page-ctn > form > input {
    padding: 8px;
}

.signup-page-ctn > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-center;
    width: 90%;
}

.su-btn {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 8px 0;
}

.already {
    font-size: 20px;
    text-align: center;
}
